{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Zoom plugin for Craft CMS 3.x
 *
 * Zoom index.twig
 *
 * @author    Fatfish
 * @copyright Copyright (c) 2020 Fatfish
 * @link      www.fatfish.com.au
 * @package   Zoom
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("fatfish\\zoom\\assetbundles\\zoom\\ZoomAsset") %}
{% do view.registerAssetBundle("fatfish\\zoom\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}
{% set docsUrl = "???" %}
{% set cpurl =     cpUrl() %}
{% set title = "Zoom" %}

{% set pluginCpUrl = url('zoom') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@fatfish/zoom/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('zoom') }}</a>
    </div>
{% endset %}

{% set content %}




    {% set meetings=craft.zoom.list_meetings() %}
    <div id="action-button">
        <div class="btn submit"  style="position: relative; overflow: hidden;" role="button">
            <a href="{{ cpurl }}/meeting" style="color: white"> Host Meeting</a>
        </div>
    </div>
    <br>
        <div id="content-container">

            <div id="content" class="content-pane">
                <div class="main">
                    <div class="elements">
                        <div class="tableview tablepane">
                            <table class="data fullwidth">
                                <thead>
                                <tr>
                                    <th scope="col">Meeting Id</th>
                                    <th scope="col">Topic</th>
                                    <th scope="col">start_time</th>
                                    <th scope="col">duration</th>
                                    <th scope="col">agenda</th>
                                    <th scope="col">Start Meeting</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>


                                </tr>
                                </thead>
                                <tbody>

                                {% if meetings is not null %}

                                    {% set id=null %}
                                    {% set topic=null %}
                                    {% set start_time=null %}
                                    {% set duration=null %}
                                    {% set agenda=null %}

                                    {% for meeting in meetings.meetings %}

                                        {% if meeting.id is defined  %}

                                          {% set id=meeting.id %}

                                            {% endif %}
                                    {% if meeting.topic is defined  %}

                                       {% set topic=meeting.topic %}

                                    {% endif %}

                                    {% if meeting.start_time is defined  %}

                                        {% set  start_time=meeting.start_time %}

                                    {% endif %}

                                    {% if meeting.duration is defined %}

                                        {% set duration = meeting.duration  %}

                                        {% endif %}

                                    {% if meeting.agenda is defined %}

                                       {% set agenda=meeting.agenda %}

                                        {% endif %}

                                       <tr>
                                           <td>{{ id }}</td>
                                           <td>{{ topic }}</td>
                                           <td>{{ start_time|datetime('short') }}</td>
                                           <td>{{ duration }}</td>
                                           <td>{{ agenda }}</td>
                                           <td>
                                               <div class="btn submit"  style="position: relative; overflow: hidden;" role="button">
                                                   <a href="https://zoom.us/s/{{ id }}" style="color: white" target="_blank"> Start</a>
                                               </div>
                                           </td>
                                           <td>
                                               <div class="btn submit"  style="position: relative; overflow: hidden;" role="button">
                                                   <a href="update/{{ id}}" style="color: white"> edit</a>
                                               </div>
                                           </td>
                                           <td>
                                               <div class="btn submit"  style="position: relative; overflow: hidden;" role="button">
                                                   <a href="#" style="color: white" data-id="{{ id }}" class="deletemeeting"> Delete</a>
                                               </div>
                                           </td>

                                       </tr>

                                    {% endfor %}


                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    {% endset %}
